<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Acceuil</a></li>
        <li class="nav-item"><a href="{{ path('app_conseil') }}" class="nav-link px-2 text-muted">Conseils de sécurité</a></li>
        <li class="nav-item"><a href="{{ path('app_faq') }}" class="nav-link px-2 text-muted">FAQ</a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Inscription</a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Connexion</a></li>
      </ul>
      <p class="text-center text-muted">© 2024 SafeJourney</p>
    </footer>
</div>