<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a href="#" style="font-family: 'Roboto', open-sans;" class="navbar-brand">SafeJourney
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/" class="nav-link active" aria-current="page">Accueil</a>
                <a href="{{ path('app_conseil') }}" class="nav-link">Conseils</a>
                <a href="{{ path('app_faq') }}" class="nav-link">FAQ</a>
                <a href="/" class="nav-link">Inscription</a>
                <a href="/" class="nav-link">Connexion</a>
            </div>
        </div>
    </div>
</nav>